@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
header {
  padding: 1.5rem;
}
header nav {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
header nav ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}
header nav a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header nav ul {
    font-size: 0.7rem;
    gap: 5vw;
  }
}
.hero-main {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 85vh;
  justify-content: center;
}

.hero-container {
  aspect-ratio: 1;
  color: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  min-width: 300px;
}

#top-left {
  grid-column: 0/1;
  grid-row: 0/1;
  font-size: 2.5vw;
}

#bottom-right {
  position: relative;
  grid-column: 2/2;
  grid-row: 2/2;
  right: 4px;
  bottom: 4px;
  text-align: right;
  font-size: 2vw;
}

.hero-square:hover > .hero-square::after {
  opacity: 1;
}

.hero-square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid rgb(255, 255, 255);
  padding: 1rem;
  backdrop-filter: hue-rotate(348deg) blur(5px);
  user-select: none;
}

.square-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom-right .square-text {
  align-items: flex-end;
}

.hero-square:hover::before {
  opacity: 1;
}

.hero-square::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 225, 255, 0.1), transparent 40%);
  border-radius: inherit;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .hero-square {
    padding: 0.5rem;
  }
  #top-left {
    font-size: 1.1rem;
  }
  #bottom-right {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1200px) {
  .hero-main {
    height: auto;
  }
}
.about-container img {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0px 0px 300px rgba(255, 255, 255, 0.03));
}
.about-container .accent {
  color: rgb(255, 166, 0);
}
.about-container .about {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.97) 85%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  padding-top: 10rem;
  padding-bottom: 14rem;
  margin-top: 4rem;
  font-size: 2rem;
}
.about-container .about-content {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.about-container .image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.about-container .text-content {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  flex: 4;
  font-size: 2.5rem;
}
.about-container .text-content p {
  font-size: 2.5rem;
}
.about-container #top {
  font-size: 3.3rem;
}
.about-container #top, .about-container #bottom {
  position: relative;
  right: 4rem;
}
.about-container #mid {
  font-size: 3rem;
  position: relative;
  left: 2rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills-container .underline {
  align-self: center;
  width: 100%;
}
.skills-container .card-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem 16rem;
}
.skills-container .card-container h1 {
  font-size: 4rem;
}
.skills-container #front-end {
  grid-column: 1/3;
}
.skills-container .card:hover > .card::after {
  opacity: 1;
}
.skills-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3rem;
  padding: 2rem 3rem 4rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.skills-container .card .img-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 2rem;
  margin-top: 3rem;
}
.skills-container .card img {
  max-height: 150px;
  filter: drop-shadow(1px 1px 3px rgb(0, 0, 0));
}
.skills-container .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-container #front-end .img-container {
  grid-template-columns: repeat(4, 1fr);
}
.skills-container #back-end #mongoDb {
  grid-column: 1/3;
}
.skills-container .card:hover::before {
  opacity: 1;
}
.skills-container .card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 225, 255, 0.08), transparent 40%);
  border-radius: inherit;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 2;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 12rem;
  margin-top: 4rem;
}

.demos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  margin-top: 4rem;
}

.underline {
  margin-bottom: 2rem;
}

.project-outline {
  background: rgb(46, 46, 46);
  background: linear-gradient(0deg, rgba(73, 73, 73, 0.7) 25%, rgb(207, 207, 207) 100%);
  padding: 1px;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 5px black);
}

.project-container {
  background: rgb(4, 4, 4);
  background: linear-gradient(135deg, rgb(5, 5, 5) 0%, rgb(34, 34, 34) 100%);
  padding: 1.5rem;
  border-radius: 20px;
}

.preview-image {
  width: 100%;
  height: auto;
  z-index: 1;
  transition: 250ms ease-in-out;
}

.project-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.98) 25%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
}
.project-overlay h1 {
  font-size: 2.5rem;
  transition: 250ms ease-in-out;
}

.project:hover .project-overlay h1, .preview-group:hover .project-overlay h1 {
  color: rgb(255, 166, 0);
  font-size: 3.5rem;
}

.project:hover .preview-image, .preview-group:hover .preview-image {
  filter: saturate(60%) brightness(75%) blur(1px);
}

.lower-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.lower-group .link {
  display: flex;
  font-size: 1.3rem;
}

button {
  border: none;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 0.1rem;
  background-color: rgb(255, 166, 0);
  border-radius: 5px;
  transition: 250ms;
}
button img {
  height: 1rem;
  width: auto;
}

button:hover {
  cursor: pointer;
  background-color: rgb(185, 125, 14);
}

.preview-group {
  position: relative;
}

.demo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.98) 25%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.badge-section img {
  height: 1.5rem;
}

.demos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 6rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.contact-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.contact-options-container img {
  width: 96px;
  height: 96px;
  transition: 250ms;
}

.abstract-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.abstract-card {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.abstract-card p {
  text-align: center;
  font-size: 1.5rem;
}

.abstract-card:hover::before {
  opacity: 1;
}

.abstract-card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 225, 255, 0.08), transparent 40%);
  border-radius: inherit;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 2;
}

#gmail:hover, #linked-in:hover {
  filter: saturate(65%) drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.4));
}

#github {
  border-radius: 100%;
  padding: 3px;
  transition: 250ms;
}

#github:hover {
  background-color: white;
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.4));
}

#resume:hover {
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.4));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  background: rgb(2, 0, 6);
  background-image: linear-gradient(90deg, rgba(2, 0, 6, 0.6), rgba(24, 34, 66, 0.6), rgba(57, 40, 104, 0.6), rgba(61, 9, 77, 0.6), rgba(82, 25, 43, 0.6), rgba(7, 1, 1, 0.6));
  background-size: 400%;
  -webkit-animation: ShiftBackground 45s ease-in-out infinite;
  -moz-animation: ShiftBackground 45s ease-in-out infinite;
  animation: ShiftBackground 45s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem 0 0 0;
}

.section-header {
  font-size: 3.5rem;
  text-align: center;
}

.underline {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, white 50%, rgba(255, 255, 255, 0) 90%);
  height: 2px;
  width: 40%;
  filter: drop-shadow(0px 0px 5px white);
  align-self: center;
}

p {
  font-size: 1.1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgb(9, 9, 9);
  background: linear-gradient(0deg, rgb(9, 9, 9) 0%, rgb(56, 56, 56) 100%);
}

@-webkit-keyframes ShiftBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-moz-keyframes ShiftBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes ShiftBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/*# sourceMappingURL=style.css.map */
