header {
  padding: 2rem;

  nav {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

    ul {
      display: flex;
      gap: 3rem;
      list-style-type: none;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}