@import 'variables';
@import 'mixins';

.about-container {
  img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: 3px solid $white-ghost;
    filter: drop-shadow(0px 0px 300px rgba(255,255,255,0.03));
  }
}

.accent {
  color: $accent;
}

.about {
  @include gradient-background($vertical, $transparent 0%, rgba(0,0,0,0.9) 15%, rgba(0,0,0,0.97) 85%, $transparent 100%);
  @include flex-column-center;
  padding: 0 2rem;
  padding-top: 10rem;
  padding-bottom: 14rem;
  margin-top: 4rem;
}

.about-content {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.text-content {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  flex: 4;

  p {
    font-size: 2.5rem;
  }
}

#top {
  font-size: 3.3rem;
}

#top, #bottom {
  position: relative;
  right: 4rem;
}

#mid {
  font-size: 3rem;
  position: relative;
  left: 2rem;
}

@media screen and (max-width: 1200px) {
  .about {
    padding-bottom: 7rem;
  }
  
  .about-content {
    margin-top: 1rem;
    flex-direction: column;
  }

  .text-content {
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .about-container img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 3rem;
  }

  .about-content .text-content p {
    font-size: 2rem;
    text-align: center;
  }

  #top, #mid {
    font-size: 2rem;
  }

  #mid {
    left: 0;
  }

  #top, #bottom {
    right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .about {
    margin-top: 0rem;
  }

  .about-content .text-content p {
    font-size: 1.5rem;
    text-align: center;
  }

  #top, #mid {
    font-size: 1.5rem;
  }
}