@mixin gradient-background($direction, $color-stops...) {
  $gradient: linear-gradient($direction, $color-stops);
  
  background-image: $gradient;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}