// Direction/Degrees

$horizontal: 90deg;
$vertical: 0deg;

// Colors

$background-gradient: (
  rgb(10, 0, 31),
  rgb(14, 33, 94),
  rgb(19, 13, 104),
  rgb(75, 9, 77),
  rgb(97, 20, 45),
  rgb(44, 7, 26)
);

$white-75: rgba(255,255,255,0.75);
$white-50: rgba(255,255,255,0.5);
$white-25: rgba(255,255,255,0.25);
$white-ghost: rgba(255,255,255,0.1);
$transparent: rgba(255,255,255,0);

$black-75: rgba(0,0,0,0.75);
$black-50: rgba(0,0,0,0.5);
$black-25: rgba(0,0,0,0.25);
$black-ghost: rgba(0,0,0,0.1);

$accent: rgb(255, 166, 0);



