// Direction/Degrees

$horizontal: 90deg;
$vertical: 0deg;

// Colors

$background-gradient: (
  rgba(2, 0, 6, 0.6),
  rgba(24, 34, 66, 0.6),
  rgba(57, 40, 104, 0.6),
  rgba(61, 9, 77, 0.6),
  rgba(82, 25, 43, 0.6),
  rgba(7, 1, 1, 0.6)
);

$white-75: rgba(255,255,255,0.75);
$white-50: rgba(255,255,255,0.5);
$white-25: rgba(255,255,255,0.25);
$white-ghost: rgba(255,255,255,0.1);
$transparent: rgba(255,255,255,0);

$black-75: rgba(0,0,0,0.75);
$black-50: rgba(0,0,0,0.5);
$black-25: rgba(0,0,0,0.25);
$black-ghost: rgba(0,0,0,0.1);

$accent: rgb(255, 145, 0);



